context player
  button moveforward
    keyboard arrow_up
  button movebackward
    keyboard arrow_down
  button turnleft
    keyboard arrow_left
  button turnright
    keyboard arrow_right
context menu
  trigger up
    keyboard arrow_up
  trigger down
    keyboard arrow_down
  trigger left
    keyboard arrow_left
  trigger right
    keyboard arrow_right
  trigger enter
    keyboard enter